*{
    outline: 1px solid black;
}
#content{
    display: flex;
    flex-direction: column;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.page-title{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.nav-bar :nth-child(2){
    display: flex;
    column-gap: 20px;
    list-style: none;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;

}